### This notebook builds a book recommendation system on the goodbooks-10k dataset.
#### Get the dataset from here - https://www.kaggle.com/zygmunt/goodbooks-10k

### Importing Libraries and Loading Our Data

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime

import warnings
warnings.filterwarnings('ignore')

In [3]:
books = pd.read_csv('./goodbooks/books.csv')
ratings = pd.read_csv('./goodbooks/ratings.csv')
book_tags = pd.read_csv('./goodbooks/book_tags.csv')
tags = pd.read_csv('./goodbooks/tags.csv')

### Clean the dataset
As with nearly any real-life dataset, we need to do some cleaning first. When exploring the data I noticed that for some combinations of user and book there are multiple ratings, while in theory there should only be one (unless users can rate a book several times). Furthermore, for the collaborative filtering it is better to have more ratings per user. So I decided to remove users who have rated fewer than 3 books.

In [4]:
books['original_publication_year'] = books['original_publication_year'].fillna(-1).apply(lambda x: int(x) if x != -1 else -1)

In [5]:
ratings_rmv_duplicates = ratings.drop_duplicates()
unwanted_users = ratings_rmv_duplicates.groupby('user_id')['user_id'].count()
unwanted_users = unwanted_users[unwanted_users < 3]
unwanted_ratings = ratings_rmv_duplicates[ratings_rmv_duplicates.user_id.isin(unwanted_users.index)]
new_ratings = ratings_rmv_duplicates.drop(unwanted_ratings.index)

In [6]:
new_ratings['title'] = books.set_index('id').title.loc[new_ratings.book_id].values

In [7]:
new_ratings.head(10)

   book_id  user_id  rating                                    title
0        1      314       5  The Hunger Games (The Hunger Games, #1)
1        1      439       3  The Hunger Games (The Hunger Games, #1)
2        1      588       5  The Hunger Games (The Hunger Games, #1)
3        1     1169       4  The Hunger Games (The Hunger Games, #1)
4        1     1185       4  The Hunger Games (The Hunger Games, #1)
5        1     2077       4  The Hunger Games (The Hunger Games, #1)
6        1     2487       4  The Hunger Games (The Hunger Games, #1)
7        1     2900       5  The Hunger Games (The Hunger Games, #1)
8        1     3662       4  The Hunger Games (The Hunger Games, #1)
9        1     3922       5  The Hunger Games (The Hunger Games, #1)

### Content Based Recommender

To personalise the recommendations ,this engine computes similarity between movies  based on certain metrics and suggests books that are most similar to a particular book that a user liked. Since w book metadata (or content) is being used to build this engine, this also known as Content Based Filtering.

This recommender is build based on book's Title, Authors and Genres.

In [8]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity

### Approach to building the recommender is going to be extremely hacky. Steps are:

1. Strip Spaces and Convert to Lowercase from authors. This way, our engine will not confuse between Stephen Covey and Stephen King.

2. Combining books with their corresponding genres .

3. Use a Count Vectorizer to create our count matrix.

Finally, calculate the cosine similarities and return books that are most similar.

In [9]:
books['authors'] = books['authors'].apply(lambda x: [str.lower(i.replace(" ", "")) for i in x.split(', ')])

In [10]:
def get_genres(x):
    t = book_tags[book_tags.goodreads_book_id==x]
    return [i.lower().replace(" ", "") for i in tags.tag_name.loc[t.tag_id].values]

In [11]:
books['genres'] = books.book_id.apply(get_genres)

In [12]:
books['soup'] = books.apply(lambda x: ' '.join([x['title']] + x['authors'] + x['genres']), axis=1)

In [13]:
books.soup.head()

0    The Hunger Games (The Hunger Games, #1) suzann...
1    Harry Potter and the Sorcerer's Stone (Harry P...
2    Twilight (Twilight, #1) stepheniemeyer young-a...
3    To Kill a Mockingbird harperlee classics favor...
4    The Great Gatsby f.scottfitzgerald classics fa...
Name: soup, dtype: object

In [17]:
count = CountVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
count_matrix = count.fit_transform(books['soup'])

### Cosine Similarity
Cosine Similarity is used to calculate a numeric quantity that denotes the similarity between two books.

In [18]:
cosine_sim = cosine_similarity(count_matrix, count_matrix)

In [19]:
indices = pd.Series(books.index, index=books['title'])
titles = books['title']

In [20]:

def get_recommendations(title, n=10):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:31]
    book_indices = [i[0] for i in sim_scores]
    return list(titles.iloc[book_indices].values)[:n]

In [21]:
get_recommendations("The One Minute Manager")

["Good to Great: Why Some Companies Make the Leap... and Others Don't",
 "First, Break All the Rules: What the World's Greatest Managers Do Differently",
 'Execution: The Discipline of Getting Things Done',
 "What Got You Here Won't Get You There: How Successful People Become Even More Successful",
 'Start with Why: How Great Leaders Inspire Everyone to Take Action',
 'Great by Choice: Uncertainty, Chaos, and Luck--Why Some Thrive Despite Them All',
 'The 21 Irrefutable Laws of Leadership: Follow Them and People Will Follow You',
 'The Speed of Trust: The One Thing that Changes Everything',
 'Fish: A Proven Way to Boost Morale and Improve Results',
 'Leadership and Self-Deception: Getting Out of the Box']

The below methos is used when the user doesn't remember the full name of the book, so it can recommend books using partial title

In [23]:
def get_name_from_partial(title):
    return list(books.title[books.title.str.lower().str.contains(title) == True].values)

In [24]:
title = "business"
l = get_name_from_partial(title)
list(enumerate(l))

[(0, 'The Power of Habit: Why We Do What We Do in Life and Business'),
 (1,
  "The Lean Startup: How Today's Entrepreneurs Use Continuous Innovation to Create Radically Successful Businesses"),
 (2,
  'Caps for Sale: A Tale of a Peddler, Some Monkeys and Their Monkey Business'),
 (3,
  "The E-Myth Revisited: Why Most Small Businesses Don't Work and What to Do About It"),
 (4, 'The Snowball: Warren Buffett and the Business of Life'),
 (5,
  "The Innovator's Dilemma: The Revolutionary Book that Will Change the Way You Do Business (Collins Business Essentials)"),
 (6, 'The Intelligent Investor (Collins Business Essentials)'),
 (7, 'Purple Cow: Transform Your Business by Being Remarkable'),
 (8, 'Business Model Generation'),
 (9, 'The Long Tail: Why the Future of Business is Selling Less of More'),
 (10,
  "Losing My Virginity: How I've Survived, Had Fun, and Made a Fortune Doing Business My Way"),
 (11,
  'The Hard Thing About Hard Things: Building a Business When There Are No Easy Answers'),
 (12, 'Wicked Business (Lizzy & Diesel, #2)'),
 (13,
  'The Effective Executive: The Definitive Guide to Getting the Right Things Done (Harperbusiness Essentials)'),
 (14,
  'The Google Story: Inside the Hottest Business, Media, and Technology Success of Our Time'),
 (15, 'The Personal MBA: Master the Art of Business'),
 (16, 'Fifth Business'),
 (17,
  'The Phoenix Project: A Novel About IT, DevOps, and Helping Your Business Win'),
 (18, 'Trouble Is My Business'),
 (19,
  'Amusing Ourselves to Death: Public Discourse in the Age of Show Business'),
 (20,
  'EntreLeadership: 20 Years of Practical Business Wisdom from the Trenches')]